.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}
.form-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  background-color: #272727;
  border-radius: 8px;
  padding: 20px;
}

.webiste-logo {
  width: 50%;
  align-self: center;
  margin-bottom: 30px;
}

@media screen and (max-width: 576px) {
  .form-container {
    width: 90%;
  }
}

.username-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
.username-label {
  color: white;
  font-family: 'Roboto';
  margin-bottom: 10px;
}

.userinput {
  background-color: transparent;
  padding: 15px;
  border: 1px solid #64748b;
  border-radius: 8px;
  color: white;
}

.login-btn {
  background-color: #4f46e5;
  border: none;
  border-radius: 8px;
  padding: 8px;
  color: white;
  cursor: pointer;
  outline: none;
}

.error-msg {
  color: red;
  font-family: 'Roboto';
}
